html {
    background-color: rgb(0, 0, 0);
    color: #FFFFFF;
    font-size: 62.5%;

}

body {

    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #001b2b, #000000);
    /* Fundo preto */
    margin: 50px;
}

.carousel {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;

    border-radius: 15px;
    clip-path: retangle(100% 100% at 100% 50%);
    
   

.carousel-images {
    display: flex;
    width: 200%;
    /* Duas vezes a largura do contêiner para acomodar duas imagens */
    animation: slide 80s linear infinite;
    
     
}
}

.carousel-image {
    width: 50%;
    /* Metade da largura do contêiner para que duas imagens se encaixem perfeitamente */
    height: auto;
    filter: brightness(0.5);
    border: 5px solid fffff;
    
 
   
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}



/*.container {
    position: relative;
    text-align: center;
    color: white;
}
.overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5; /* Ajuste a opacidade conforme necessário */
/*
}

/*.reflected-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(-1); /* Espelha a imagem verticalmente */
/*opacity: 0.3;*/
/* Ajuste a opacidade conforme necessário */
/*
}*/

footer,
section {
    padding: 5rem;
    max-width: 96rem;
    margin: 0 auto;
}

footer {
    flex-direction: column;
}

h2 {
    font-size: 4rem;
    font-weight: 700;
}

p {
    align-items: center;
}

.inspecionar {
    border: 5px solid red;
}

.itens-center {
    display: flex;
    align-items: center;
    justify-content: left;
}

.nav {
    /*padding espaçamento para dentro da borda / borda para dentro
    aceita até quatro valores no sentido horário*/
    padding: 2rem 6rem;
}

.nav-links {
    /*display flex responsavel por definir como os item vão estar sendo mostrado na pagina (flex - encaixa todos os ementos de forma flexivel*/
    display: flex;
    /*Responsavel por dizer como os elmentos vão estar justificados dentro da pagina*/
    justify-content: left;
    /*define os espaços entre elementos de um display flexivel*/
    gap: 1rem;
    font-size: 1.8rem;


}

.nav-links a {
    color: #FFFFFF;
    /*text-decoration none remove a linha embaixo do link*/
    text-decoration: none;
}

.main {
    margin-bottom: 5rem;
}

.avatar {
    border-radius: 100%;
    width: 24rem;
    height: 24rem;
    margin-right: 10rem;
}

.main-title {
    font-size: 4rem;
}

.main-description {
    margin: 4rem 0;
}



.about {
    background-color: #3d3e41;
    width: 85%;
    height: auto;
    text-align: justify;
    border-radius: 15px;
    margin: auto;
    
}

.project {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    flex-wrap: wrap;
    /* Permite quebra de linha para as imagens */
    gap: 2rem;
}


.project-image {
    width: 20rem;
    /* Ajuste o valor conforme necessário */
    height: 20rem;
    /* Ajuste o valor conforme necessário */
    margin-right: 2.5rem;
    border-radius: 2.5rem;
    border: solid 2px white;

}


.projec-title {
    font-size: 3rem;
}

.footer-social {
    display: flex;
    gap: 2rem;
}

@media (max-width: 1200px) {
    .itens-center {
        flex-direction: column;
    }

    footer,
    section {
        padding: 5rem;
    }

    .main {
        margin-bottom: 2rem;
    }

    .main-title {
        font-size: 3rem;
    }

    .project-image {
        width: 20%;
        height: 30rem;
        margin-right: 2.5rem;
        border-radius: 2.5rem;
        border: solid 2px white;
        margin-bottom: 20px;

    }



    .nav-links {
        justify-content: flex-start;
    }

    .avatar {
        width: 18rem;
        height: 18rem;

    }

}